

<div class="container">
    <h1>Add New Customer</h1>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" formControlName="Name" type="text" placeholder="Enter Customer Name" />
            <div *ngIf="customerForm.get('Name')?.touched && customerForm.get('Name')?.invalid" class="error">
                <div *ngIf="customerForm.get('Name')?.errors?.['required']">Name is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input id="address" formControlName="Address" type="text" placeholder="Enter Customer Address" />
            <div *ngIf="customerForm.get('Address')?.touched && customerForm.get('Address')?.invalid" class="error">
                <div *ngIf="customerForm.get('Address')?.errors?.['required']">Address is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" formControlName="Email" type="email" placeholder="Enter Customer Email" />
            <div *ngIf="customerForm.get('Email')?.touched && customerForm.get('Email')?.invalid" class="error">
                <div *ngIf="customerForm.get('Email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="customerForm.get('Email')?.errors?.['email']">Email is invalid.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="mobileNo">Mobile No</label>
            <input id="mobileNo" formControlName="MobileNo" type="text" placeholder="Enter Customer Mobile No"  
            
         />
         
         <div *ngIf="customerForm.get('MobileNo')?.touched && customerForm.get('MobileNo')?.invalid" class="error">
            <div *ngIf="customerForm.get('MobileNo')?.errors?.['required']">Mobile number is required.</div>
            <div *ngIf="customerForm.get('MobileNo')?.errors?.['pattern']">Mobile number is invalid. It must be a 10-digit number.</div>
         </div>

        </div>
        <div class="form-group">
            <label for="geoLocation">GeoLocation</label>
            <input id="geoLocation" formControlName="GeoLocation" type="text" placeholder="Enter Customer GeoLocation" readonly />
        </div>
        <button type="submit">Add Customer</button> 
    </form>
</div>